body {
	background-color: #1c1c1c;
	text-align: center;
}

h2 {
	font-weight: 900;
	font-size: 1.6em;
	padding: 7px;
	text-shadow: 1px 1px  #efefef,
							-1px 1px  #efefef,
							1px -1px  #efefef,
							-1px -1px  #efefef;
	animation-name: fadein;
	animation-duration: 4s;
}

p {
	font-size: 1.35em;
	line-height: 0.85em;
	padding: 7px;
	animation-name: fadein;
	animation-duration: 5s;
}

a {
	animation-name: fadein;
	animation-duration: 6s;
	font-size: 3em;
}

h2, p, a {
	font-family: 'Alegreya Sans SC', sans-serif;
	border-width: : 4px;
	border-style: double;
	border-color: #1c1c1c;
	background-color: rgba(239,239,239,0.85);
	text-shadow: 1px 1px  #efefef,
						-1px 1px  #efefef,
						1px -1px  #efefef,
						-1px -1px  #efefef;
}

p, a {
	font-weight: 700;
}

.btn-default {
	background-color: rgba(255,255,255,0.85);
	border-radius: 0;
	border-width: 4px;
	border-style: double;
	border-color: #1c1c1c;
	color: #000;
	flex-grow:1;
}

.btn-default:hover, .btn-default:focus {
	background-color: rgba(230,230,230,0.2);
	color: #efefef;
	text-shadow: 1px 1px  #1c1c1c,
							-1px 1px  #1c1c1c,
							1px -1px  #1c1c1c,
							-1px -1px  #1c1c1c;
}

.btn-default:active, .btn-default:active:focus, .btn-default:active:hover {
	background-color: rgba(255,255,255,0.2);
	color: #efefef;
}

.btn-row {
	display: flex;
	justify-content: space-between;
	flex-wrap:wrap;
}

.container {
	margin-top:165px;
}

.labyrinths {
	position:absolute;
	left:0;
	top:0;
	z-index:-1;
}


/* ---- Animations ---- */
@keyframes fadein {
	0% {opacity:0;}
	60% {opacity:0;}
	100% {opacity:1;}
}